pics/Aatrox_e.png
pics/Aatrox_p.png
pics/Aatrox_q.png
pics/Aatrox_r.png
pics/Aatrox_w.png
pics/Aatrox.png
pics/Ahri_e.png
pics/Ahri_p.png
pics/Ahri_q.png
pics/Ahri_r.png
pics/Ahri_w.png
pics/Ahri.png
pics/Akali_e.png
pics/Akali_p.png
pics/Akali_q.png
pics/Akali_r.png
pics/Akali_w.png
pics/Akali.png
pics/Akshan_e.png
pics/Akshan_p.png
pics/Akshan_q.png
pics/Akshan_r.png
pics/Akshan_w.png
pics/Akshan.png
pics/Alistar_e.png
pics/Alistar_p.png
pics/Alistar_q.png
pics/Alistar_r.png
pics/Alistar_w.png
pics/Alistar.png
pics/Amumu_e.png
pics/Amumu_p.png
pics/Amumu_q.png
pics/Amumu_r.png
pics/Amumu_w.png
pics/Amumu.png
pics/Anivia_e.png
pics/Anivia_p.png
pics/Anivia_q.png
pics/Anivia_r.png
pics/Anivia_w.png
pics/Anivia.png
pics/Annie_e.png
pics/Annie_p.png
pics/Annie_q.png
pics/Annie_r.png
pics/Annie_w.png
pics/Annie.png
pics/Aphelios_e.png
pics/Aphelios_p.png
pics/Aphelios_q.png
pics/Aphelios_r.png
pics/Aphelios_w.png
pics/Aphelios.png
pics/Ashe_e.png
pics/Ashe_p.png
pics/Ashe_q.png
pics/Ashe_r.png
pics/Ashe_w.png
pics/Ashe.png
pics/aurelionsol_e.png
pics/aurelionsol_p.png
pics/aurelionsol_q.png
pics/aurelionsol_r.png
pics/aurelionsol_w.png
pics/aurelionsol.png
pics/Azir_e.png
pics/Azir_p.png
pics/Azir_q.png
pics/Azir_r.png
pics/Azir_w.png
pics/Azir.png
pics/Bard_e.png
pics/Bard_p.png
pics/Bard_q.png
pics/Bard_r.png
pics/Bard_w.png
pics/Bard.png
pics/Blitzcrank_e.png
pics/Blitzcrank_p.png
pics/Blitzcrank_q.png
pics/Blitzcrank_r.png
pics/Blitzcrank_w.png
pics/Blitzcrank.png
pics/Brand_e.png
pics/Brand_p.png
pics/Brand_q.png
pics/Brand_r.png
pics/Brand_w.png
pics/Brand.png
pics/Braum_e.png
pics/Braum_p.png
pics/Braum_q.png
pics/Braum_r.png
pics/Braum_w.png
pics/Braum.png
pics/Caitlyn_e.png
pics/Caitlyn_p.png
pics/Caitlyn_q.png
pics/Caitlyn_r.png
pics/Caitlyn_w.png
pics/Caitlyn.png
pics/Camille_e.png
pics/Camille_p.png
pics/Camille_q.png
pics/Camille_r.png
pics/Camille_w.png
pics/Camille.png
pics/Cassiopeia_e.png
pics/Cassiopeia_p.png
pics/Cassiopeia_q.png
pics/Cassiopeia_r.png
pics/Cassiopeia_w.png
pics/Cassiopeia.png
pics/chogath_e.png
pics/chogath_p.png
pics/chogath_q.png
pics/chogath_r.png
pics/chogath_w.png
pics/chogath.png
pics/Corki_e.png
pics/Corki_p.png
pics/Corki_q.png
pics/Corki_r.png
pics/Corki_w.png
pics/Corki.png
pics/Darius_e.png
pics/Darius_p.png
pics/Darius_q.png
pics/Darius_r.png
pics/Darius_w.png
pics/Darius.png
pics/default.png
pics/Diana_e.png
pics/Diana_p.png
pics/Diana_q.png
pics/Diana_r.png
pics/Diana_w.png
pics/Diana.png
pics/Draven_e.png
pics/Draven_p.png
pics/Draven_q.png
pics/Draven_r.png
pics/Draven_w.png
pics/Draven.png
pics/drmundo_e.png
pics/drmundo_p.png
pics/drmundo_q.png
pics/drmundo_r.png
pics/drmundo_w.png
pics/drmundo.png
pics/Ekko_e.png
pics/Ekko_p.png
pics/Ekko_q.png
pics/Ekko_r.png
pics/Ekko_w.png
pics/Ekko.png
pics/Elise_e.png
pics/Elise_p.png
pics/Elise_q.png
pics/Elise_r.png
pics/Elise_w.png
pics/Elise.png
pics/Evelynn_e.png
pics/Evelynn_p.png
pics/Evelynn_q.png
pics/Evelynn_r.png
pics/Evelynn_w.png
pics/Evelynn.png
pics/Ezreal_e.png
pics/Ezreal_p.png
pics/Ezreal_q.png
pics/Ezreal_r.png
pics/Ezreal_w.png
pics/Ezreal.png
pics/Fiddlesticks_e.png
pics/Fiddlesticks_p.png
pics/Fiddlesticks_q.png
pics/Fiddlesticks_r.png
pics/Fiddlesticks_w.png
pics/Fiddlesticks.png
pics/Fiora_e.png
pics/Fiora_p.png
pics/Fiora_q.png
pics/Fiora_r.png
pics/Fiora_w.png
pics/Fiora.png
pics/Fizz_e.png
pics/Fizz_p.png
pics/Fizz_q.png
pics/Fizz_r.png
pics/Fizz_w.png
pics/Fizz.png
pics/Galio_e.png
pics/Galio_p.png
pics/Galio_q.png
pics/Galio_r.png
pics/Galio_w.png
pics/Galio.png
pics/Gangplank_e.png
pics/Gangplank_p.png
pics/Gangplank_q.png
pics/Gangplank_r.png
pics/Gangplank_w.png
pics/Gangplank.png
pics/Garen_e.png
pics/Garen_p.png
pics/Garen_q.png
pics/Garen_r.png
pics/Garen_w.png
pics/Garen.png
pics/Gnar_e.png
pics/Gnar_p.png
pics/Gnar_q.png
pics/Gnar_r.png
pics/Gnar_w.png
pics/Gnar.png
pics/Gragas_e.png
pics/Gragas_p.png
pics/Gragas_q.png
pics/Gragas_r.png
pics/Gragas_w.png
pics/Gragas.png
pics/Graves_e.png
pics/Graves_p.png
pics/Graves_q.png
pics/Graves_r.png
pics/Graves_w.png
pics/Graves.png
pics/Gwen_e.png
pics/Gwen_p.png
pics/Gwen_q.png
pics/Gwen_r.png
pics/Gwen_w.png
pics/Gwen.png
pics/hardmode.png
pics/Hecarim_e.png
pics/Hecarim_p.png
pics/Hecarim_q.png
pics/Hecarim_r.png
pics/Hecarim_w.png
pics/Hecarim.png
pics/Heimerdinger_e.png
pics/Heimerdinger_p.png
pics/Heimerdinger_q.png
pics/Heimerdinger_r.png
pics/Heimerdinger_w.png
pics/Heimerdinger.png
pics/Illaoi_e.png
pics/Illaoi_p.png
pics/Illaoi_q.png
pics/Illaoi_r.png
pics/Illaoi_w.png
pics/Illaoi.png
pics/Irelia_e.png
pics/Irelia_p.png
pics/Irelia_q.png
pics/Irelia_r.png
pics/Irelia_w.png
pics/Irelia.png
pics/Ivern_e.png
pics/Ivern_p.png
pics/Ivern_q.png
pics/Ivern_r.png
pics/Ivern_w.png
pics/Ivern.png
pics/Janna_e.png
pics/Janna_p.png
pics/Janna_q.png
pics/Janna_r.png
pics/Janna_w.png
pics/Janna.png
pics/jarvaniv_e.png
pics/jarvaniv_p.png
pics/jarvaniv_q.png
pics/jarvaniv_r.png
pics/jarvaniv_w.png
pics/jarvaniv.png
pics/Jax_e.png
pics/Jax_p.png
pics/Jax_q.png
pics/Jax_r.png
pics/Jax_w.png
pics/Jax.png
pics/Jayce_e.png
pics/Jayce_p.png
pics/Jayce_q.png
pics/Jayce_r.png
pics/Jayce_w.png
pics/Jayce.png
pics/Jhin_e.png
pics/Jhin_p.png
pics/Jhin_q.png
pics/Jhin_r.png
pics/Jhin_w.png
pics/Jhin.png
pics/Jinx_e.png
pics/Jinx_p.png
pics/Jinx_q.png
pics/Jinx_r.png
pics/Jinx_w.png
pics/Jinx.png
pics/kaisa_e.png
pics/kaisa_p.png
pics/kaisa_q.png
pics/kaisa_r.png
pics/kaisa_w.png
pics/kaisa.png
pics/Kalista_e.png
pics/Kalista_p.png
pics/Kalista_q.png
pics/Kalista_r.png
pics/Kalista_w.png
pics/Kalista.png
pics/Karma_e.png
pics/Karma_p.png
pics/Karma_q.png
pics/Karma_r.png
pics/Karma_w.png
pics/Karma.png
pics/Karthus_e.png
pics/Karthus_p.png
pics/Karthus_q.png
pics/Karthus_r.png
pics/Karthus_w.png
pics/Karthus.png
pics/Kassadin_e.png
pics/Kassadin_p.png
pics/Kassadin_q.png
pics/Kassadin_r.png
pics/Kassadin_w.png
pics/Kassadin.png
pics/Katarina_e.png
pics/Katarina_p.png
pics/Katarina_q.png
pics/Katarina_r.png
pics/Katarina_w.png
pics/Katarina.png
pics/Kayle_e.png
pics/Kayle_p.png
pics/Kayle_q.png
pics/Kayle_r.png
pics/Kayle_w.png
pics/Kayle.png
pics/Kayn_e.png
pics/Kayn_p.png
pics/Kayn_q.png
pics/Kayn_r.png
pics/Kayn_w.png
pics/Kayn.png
pics/Kennen_e.png
pics/Kennen_p.png
pics/Kennen_q.png
pics/Kennen_r.png
pics/Kennen_w.png
pics/Kennen.png
pics/khazix_e.png
pics/khazix_p.png
pics/khazix_q.png
pics/khazix_r.png
pics/khazix_w.png
pics/khazix.png
pics/Kindred_e.png
pics/Kindred_p.png
pics/Kindred_q.png
pics/Kindred_r.png
pics/Kindred_w.png
pics/Kindred.png
pics/Kled_e.png
pics/Kled_p.png
pics/Kled_q.png
pics/Kled_r.png
pics/Kled_w.png
pics/Kled.png
pics/kogmaw_e.png
pics/kogmaw_p.png
pics/kogmaw_q.png
pics/kogmaw_r.png
pics/kogmaw_w.png
pics/kogmaw.png
pics/LeBlanc_e.png
pics/LeBlanc_p.png
pics/LeBlanc_q.png
pics/LeBlanc_r.png
pics/LeBlanc_w.png
pics/LeBlanc.png
pics/leesin_e.png
pics/leesin_p.png
pics/leesin_q.png
pics/leesin_r.png
pics/leesin_w.png
pics/leesin.png
pics/Leona_e.png
pics/Leona_p.png
pics/Leona_q.png
pics/Leona_r.png
pics/Leona_w.png
pics/Leona.png
pics/Lillia_e.png
pics/Lillia_p.png
pics/Lillia_q.png
pics/Lillia_r.png
pics/Lillia_w.png
pics/Lillia.png
pics/Lissandra_e.png
pics/Lissandra_p.png
pics/Lissandra_q.png
pics/Lissandra_r.png
pics/Lissandra_w.png
pics/Lissandra.png
pics/Lucian_e.png
pics/Lucian_p.png
pics/Lucian_q.png
pics/Lucian_r.png
pics/Lucian_w.png
pics/Lucian.png
pics/Lulu_e.png
pics/Lulu_p.png
pics/Lulu_q.png
pics/Lulu_r.png
pics/Lulu_w.png
pics/Lulu.png
pics/Lux_e.png
pics/Lux_p.png
pics/Lux_q.png
pics/Lux_r.png
pics/Lux_w.png
pics/Lux.png
pics/Malphite_e.png
pics/Malphite_p.png
pics/Malphite_q.png
pics/Malphite_r.png
pics/Malphite_w.png
pics/Malphite.png
pics/Malzahar_e.png
pics/Malzahar_p.png
pics/Malzahar_q.png
pics/Malzahar_r.png
pics/Malzahar_w.png
pics/Malzahar.png
pics/Maokai_e.png
pics/Maokai_p.png
pics/Maokai_q.png
pics/Maokai_r.png
pics/Maokai_w.png
pics/Maokai.png
pics/masteryi_e.png
pics/masteryi_p.png
pics/masteryi_q.png
pics/masteryi_r.png
pics/masteryi_w.png
pics/masteryi.png
pics/missfortune_e.png
pics/missfortune_p.png
pics/missfortune_q.png
pics/missfortune_r.png
pics/missfortune_w.png
pics/missfortune.png
pics/monkeyking_e.png
pics/monkeyking_p.png
pics/monkeyking_q.png
pics/monkeyking_r.png
pics/monkeyking_w.png
pics/monkeyking.png
pics/Mordekaiser_e.png
pics/Mordekaiser_p.png
pics/Mordekaiser_q.png
pics/Mordekaiser_r.png
pics/Mordekaiser_w.png
pics/Mordekaiser.png
pics/Morgana_e.png
pics/Morgana_p.png
pics/Morgana_q.png
pics/Morgana_r.png
pics/Morgana_w.png
pics/Morgana.png
pics/Nami_e.png
pics/Nami_p.png
pics/Nami_q.png
pics/Nami_r.png
pics/Nami_w.png
pics/Nami.png
pics/Nasus_e.png
pics/Nasus_p.png
pics/Nasus_q.png
pics/Nasus_r.png
pics/Nasus_w.png
pics/Nasus.png
pics/Nautilus_e.png
pics/Nautilus_p.png
pics/Nautilus_q.png
pics/Nautilus_r.png
pics/Nautilus_w.png
pics/Nautilus.png
pics/Neeko_e.png
pics/Neeko_p.png
pics/Neeko_q.png
pics/Neeko_r.png
pics/Neeko_w.png
pics/Neeko.png
pics/Nidalee_e.png
pics/Nidalee_p.png
pics/Nidalee_q.png
pics/Nidalee_r.png
pics/Nidalee_w.png
pics/Nidalee.png
pics/Nocturne_e.png
pics/Nocturne_p.png
pics/Nocturne_q.png
pics/Nocturne_r.png
pics/Nocturne_w.png
pics/Nocturne.png
pics/nunu_e.png
pics/nunu_p.png
pics/nunu_q.png
pics/nunu_r.png
pics/nunu_w.png
pics/nunu.png
pics/Olaf_e.png
pics/Olaf_p.png
pics/Olaf_q.png
pics/Olaf_r.png
pics/Olaf_w.png
pics/Olaf.png
pics/Orianna_e.png
pics/Orianna_p.png
pics/Orianna_q.png
pics/Orianna_r.png
pics/Orianna_w.png
pics/Orianna.png
pics/Ornn_e.png
pics/Ornn_p.png
pics/Ornn_q.png
pics/Ornn_r.png
pics/Ornn_w.png
pics/Ornn.png
pics/Pantheon_e.png
pics/Pantheon_p.png
pics/Pantheon_q.png
pics/Pantheon_r.png
pics/Pantheon_w.png
pics/Pantheon.png
pics/Poppy_e.png
pics/Poppy_p.png
pics/Poppy_q.png
pics/Poppy_r.png
pics/Poppy_w.png
pics/Poppy.png
pics/Pyke_e.png
pics/Pyke_p.png
pics/Pyke_q.png
pics/Pyke_r.png
pics/Pyke_w.png
pics/Pyke.png
pics/Qiyana_e.png
pics/Qiyana_p.png
pics/Qiyana_q.png
pics/Qiyana_r.png
pics/Qiyana_w.png
pics/Qiyana.png
pics/Quinn_e.png
pics/Quinn_p.png
pics/Quinn_q.png
pics/Quinn_r.png
pics/Quinn_w.png
pics/Quinn.png
pics/Rakan_e.png
pics/Rakan_p.png
pics/Rakan_q.png
pics/Rakan_r.png
pics/Rakan_w.png
pics/Rakan.png
pics/Rammus_e.png
pics/Rammus_p.png
pics/Rammus_q.png
pics/Rammus_r.png
pics/Rammus_w.png
pics/Rammus.png
pics/reksai_e.png
pics/reksai_p.png
pics/reksai_q.png
pics/reksai_r.png
pics/reksai_w.png
pics/reksai.png
pics/Rell_e.png
pics/Rell_p.png
pics/Rell_q.png
pics/Rell_r.png
pics/Rell_w.png
pics/Rell.png
pics/Renekton_e.png
pics/Renekton_p.png
pics/Renekton_q.png
pics/Renekton_r.png
pics/Renekton_w.png
pics/Renekton.png
pics/Rengar_e.png
pics/Rengar_p.png
pics/Rengar_q.png
pics/Rengar_r.png
pics/Rengar_w.png
pics/Rengar.png
pics/Riven_e.png
pics/Riven_p.png
pics/Riven_q.png
pics/Riven_r.png
pics/Riven_w.png
pics/Riven.png
pics/Rumble_e.png
pics/Rumble_p.png
pics/Rumble_q.png
pics/Rumble_r.png
pics/Rumble_w.png
pics/Rumble.png
pics/Ryze_e.png
pics/Ryze_p.png
pics/Ryze_q.png
pics/Ryze_r.png
pics/Ryze_w.png
pics/Ryze.png
pics/Samira_e.png
pics/Samira_p.png
pics/Samira_q.png
pics/Samira_r.png
pics/Samira_w.png
pics/Samira.png
pics/Sejuani_e.png
pics/Sejuani_p.png
pics/Sejuani_q.png
pics/Sejuani_r.png
pics/Sejuani_w.png
pics/Sejuani.png
pics/Senna_e.png
pics/Senna_p.png
pics/Senna_q.png
pics/Senna_r.png
pics/Senna_w.png
pics/Senna.png
pics/Seraphine_e.png
pics/Seraphine_p.png
pics/Seraphine_q.png
pics/Seraphine_r.png
pics/Seraphine_w.png
pics/Seraphine.png
pics/Sett_e.png
pics/Sett_p.png
pics/Sett_q.png
pics/Sett_r.png
pics/Sett_w.png
pics/Sett.png
pics/Shaco_e.png
pics/Shaco_p.png
pics/Shaco_q.png
pics/Shaco_r.png
pics/Shaco_w.png
pics/Shaco.png
pics/Shen_e.png
pics/Shen_p.png
pics/Shen_q.png
pics/Shen_r.png
pics/Shen_w.png
pics/Shen.png
pics/Shyvana_e.png
pics/Shyvana_p.png
pics/Shyvana_q.png
pics/Shyvana_r.png
pics/Shyvana_w.png
pics/Shyvana.png
pics/Singed_e.png
pics/Singed_p.png
pics/Singed_q.png
pics/Singed_r.png
pics/Singed_w.png
pics/Singed.png
pics/Sion_e.png
pics/Sion_p.png
pics/Sion_q.png
pics/Sion_r.png
pics/Sion_w.png
pics/Sion.png
pics/Sivir_e.png
pics/Sivir_p.png
pics/Sivir_q.png
pics/Sivir_r.png
pics/Sivir_w.png
pics/Sivir.png
pics/Skarner_e.png
pics/Skarner_p.png
pics/Skarner_q.png
pics/Skarner_r.png
pics/Skarner_w.png
pics/Skarner.png
pics/Sona_e.png
pics/Sona_p.png
pics/Sona_q.png
pics/Sona_r.png
pics/Sona_w.png
pics/Sona.png
pics/Soraka_e.png
pics/Soraka_p.png
pics/Soraka_q.png
pics/Soraka_r.png
pics/Soraka_w.png
pics/Soraka.png
pics/Swain_e.png
pics/Swain_p.png
pics/Swain_q.png
pics/Swain_r.png
pics/Swain_w.png
pics/Swain.png
pics/Sylas_e.png
pics/Sylas_p.png
pics/Sylas_q.png
pics/Sylas_r.png
pics/Sylas_w.png
pics/Sylas.png
pics/Syndra_e.png
pics/Syndra_p.png
pics/Syndra_q.png
pics/Syndra_r.png
pics/Syndra_w.png
pics/Syndra.png
pics/tahmkench_e.png
pics/tahmkench_p.png
pics/tahmkench_q.png
pics/tahmkench_r.png
pics/tahmkench_w.png
pics/tahmkench.png
pics/Taliyah_e.png
pics/Taliyah_p.png
pics/Taliyah_q.png
pics/Taliyah_r.png
pics/Taliyah_w.png
pics/Taliyah.png
pics/Talon_e.png
pics/Talon_p.png
pics/Talon_q.png
pics/Talon_r.png
pics/Talon_w.png
pics/Talon.png
pics/Taric_e.png
pics/Taric_p.png
pics/Taric_q.png
pics/Taric_r.png
pics/Taric_w.png
pics/Taric.png
pics/Teemo_e.png
pics/Teemo_p.png
pics/Teemo_q.png
pics/Teemo_r.png
pics/Teemo_w.png
pics/Teemo.png
pics/Thresh_e.png
pics/Thresh_p.png
pics/Thresh_q.png
pics/Thresh_r.png
pics/Thresh_w.png
pics/Thresh.png
pics/Tristana_e.png
pics/Tristana_p.png
pics/Tristana_q.png
pics/Tristana_r.png
pics/Tristana_w.png
pics/Tristana.png
pics/Trundle_e.png
pics/Trundle_p.png
pics/Trundle_q.png
pics/Trundle_r.png
pics/Trundle_w.png
pics/Trundle.png
pics/Tryndamere_e.png
pics/Tryndamere_p.png
pics/Tryndamere_q.png
pics/Tryndamere_r.png
pics/Tryndamere_w.png
pics/Tryndamere.png
pics/twistedfate_e.png
pics/twistedfate_p.png
pics/twistedfate_q.png
pics/twistedfate_r.png
pics/twistedfate_w.png
pics/twistedfate.png
pics/Twitch_e.png
pics/Twitch_p.png
pics/Twitch_q.png
pics/Twitch_r.png
pics/Twitch_w.png
pics/Twitch.png
pics/Udyr_e.png
pics/Udyr_p.png
pics/Udyr_q.png
pics/Udyr_r.png
pics/Udyr_w.png
pics/Udyr.png
pics/Urgot_e.png
pics/Urgot_p.png
pics/Urgot_q.png
pics/Urgot_r.png
pics/Urgot_w.png
pics/Urgot.png
pics/Varus_e.png
pics/Varus_p.png
pics/Varus_q.png
pics/Varus_r.png
pics/Varus_w.png
pics/Varus.png
pics/Vayne_e.png
pics/Vayne_p.png
pics/Vayne_q.png
pics/Vayne_r.png
pics/Vayne_w.png
pics/Vayne.png
pics/Veigar_e.png
pics/Veigar_p.png
pics/Veigar_q.png
pics/Veigar_r.png
pics/Veigar_w.png
pics/Veigar.png
pics/velkoz_e.png
pics/velkoz_p.png
pics/velkoz_q.png
pics/velkoz_r.png
pics/velkoz_w.png
pics/velkoz.png
pics/Vi_e.png
pics/Vi_p.png
pics/Vi_q.png
pics/Vi_r.png
pics/Vi_w.png
pics/Vi.png
pics/Viego_e.png
pics/Viego_p.png
pics/Viego_q.png
pics/Viego_r.png
pics/Viego_w.png
pics/Viego.png
pics/Viktor_e.png
pics/Viktor_p.png
pics/Viktor_q.png
pics/Viktor_r.png
pics/Viktor_w.png
pics/Viktor.png
pics/Vladimir_e.png
pics/Vladimir_p.png
pics/Vladimir_q.png
pics/Vladimir_r.png
pics/Vladimir_w.png
pics/Vladimir.png
pics/Volibear_e.png
pics/Volibear_p.png
pics/Volibear_q.png
pics/Volibear_r.png
pics/Volibear_w.png
pics/Volibear.png
pics/Warwick_e.png
pics/Warwick_p.png
pics/Warwick_q.png
pics/Warwick_r.png
pics/Warwick_w.png
pics/Warwick.png
pics/Xayah_e.png
pics/Xayah_p.png
pics/Xayah_q.png
pics/Xayah_r.png
pics/Xayah_w.png
pics/Xayah.png
pics/Xerath_e.png
pics/Xerath_p.png
pics/Xerath_q.png
pics/Xerath_r.png
pics/Xerath_w.png
pics/Xerath.png
pics/xinzhao_e.png
pics/xinzhao_p.png
pics/xinzhao_q.png
pics/xinzhao_r.png
pics/xinzhao_w.png
pics/xinzhao.png
pics/Yasuo_e.png
pics/Yasuo_p.png
pics/Yasuo_q.png
pics/Yasuo_r.png
pics/Yasuo_w.png
pics/Yasuo.png
pics/Yone_e.png
pics/Yone_p.png
pics/Yone_q.png
pics/Yone_r.png
pics/Yone_w.png
pics/Yone.png
pics/Yorick_e.png
pics/Yorick_p.png
pics/Yorick_q.png
pics/Yorick_r.png
pics/Yorick_w.png
pics/Yorick.png
pics/Yuumi_e.png
pics/Yuumi_p.png
pics/Yuumi_q.png
pics/Yuumi_r.png
pics/Yuumi_w.png
pics/Yuumi.png
pics/Zac_e.png
pics/Zac_p.png
pics/Zac_q.png
pics/Zac_r.png
pics/Zac_w.png
pics/Zac.png
pics/Zed_e.png
pics/Zed_p.png
pics/Zed_q.png
pics/Zed_r.png
pics/Zed_w.png
pics/Zed.png
pics/Ziggs_e.png
pics/Ziggs_p.png
pics/Ziggs_q.png
pics/Ziggs_r.png
pics/Ziggs_w.png
pics/Ziggs.png
pics/Zilean_e.png
pics/Zilean_p.png
pics/Zilean_q.png
pics/Zilean_r.png
pics/Zilean_w.png
pics/Zilean.png
pics/Zoe_e.png
pics/Zoe_p.png
pics/Zoe_q.png
pics/Zoe_r.png
pics/Zoe_w.png
pics/Zoe.png
pics/Zyra_e.png
pics/Zyra_p.png
pics/Zyra_q.png
pics/Zyra_r.png
pics/Zyra_w.png
pics/Zyra.png
